body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr {
    margin: 20px auto;
    color: #ef7f00;
    border: 3px solid #ef7f00;;
    max-width: 65px;
    opacity: 1;  
}

h1 {
  font-size: 3rem;
  color: white;
}

.buffer {
  height: 10em;
}

.btn-primary {
  background-color: #ef7f00;
  border-color: #ef7f00;
  --bs-btn-hover-bg: #ff9e31;
  --bs-btn-hover-border-color: #ff9e31;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
}

.btn-xl {
  padding: 1rem 2rem;
}

